<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>
<div class="container">

{{> nav}}

<form action="/add-article" method="POST">
<div class="mb-3">
  <label for="title" class="form-label">Title</label>
  <input type="text" name="title" class="form-control" id="title" placeholder="Title of Your Article">
</div>
<div class="mb-3">
  <label for="description" class="form-label">Description</label>
  <textarea type="text" name="description" class="form-control" id="description" placeholder="description">
</div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

{{> script}}
</body>
</html>