<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>
<div class="container">

{{> nav}}

<h2 style="margin-top: 10px;"class="text-center">Register</h2>

<form action="/register" method="POST">
<div class="mb-3">
  <label for="usernameInput" class="form-label">Username</label>
  <input type="text" name="username" class="form-control" id="usernameInput" placeholder="username">
</div>
<div class="mb-3">
  <label for="passwordInput" class="form-label">Password</label>
  <input type="password" name="password" class="form-control" id="passwordInput" placeholder="password">
</div>

<button type="submit" class="btn btn-primary">Submit</button>
{{#message}}
<div style="margin-top: 10px" class="alert alert-danger" role="alert">
{{message}}
</div>
{{/message}}
</form>

</div>

{{> script}}
</body>
</html>